<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Children's Keeper Learning Center</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div>
      <header class="header-container">
        <div class="navbar1">
          <img class="logo" src="/images/logo1.png" alt="" />
        </div>

        <div class="navbar2">
            <img class="logo" src="/images/daycareLogo.png" alt="" />
        </div>

        <div class="navbar3">
          <ul>
            <li><a href="/welcome">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact"> Contact Us!</a></li>
          </ul>
        </div>
      </header>
    </div>
 
