<div class="weather" id="weather" name="weather" style="color:black">
    <ul style="list-style-type: none">
            <li>Varnville <%= weather %>
                <img src="<%= icon %>"></li>
            
          </ul>
</div>