<%- include("partials/christmasHeader.ejs") %>
<link rel="stylesheet" href="/styles/styles.css" />
<div class="main-container">
  <div class="welcome" id="welcome" name="welcome">
    <div class="staff-image"></div>
    <div class="main welcome-message" >
      <h1 style="color:black;">Careers at Children's Keeper Learning Center</h1>
    </div>
    <div class="main career-text">
      <div class="career-text-column">
        <p>
          Join our dedicated team at Children’s Keeper Learning Center! We are looking for passionate individuals who love working with children and are committed to fostering a nurturing and educational environment. If you are interested in a rewarding career in early childhood education, we would love to hear from you.
        </p>
      </div>
    </div>
  </div>

  <div class="career-details">
    <h2>Current Openings</h2>
    <ul>
      <li>4K Lead Teacher</li>
      <li>Assistant Teacher</li>
      <li>Substitute Teacher</li>
    </ul>

    <h3>How to Apply</h3>
    <p>If you are interested in applying for any of the positions listed above, please send your resume and a cover letter to <a href="mailto:regdc@yahoo.com">regdc@yahoo.com</a>.
        </p>
    </div>

</div>
<%- include("partials/footer.ejs") %>