<div class="login-page">
    <div class="login-container">
        <div class="login-input">
            <label></label>
            <input>
            <input>
            <input>
        </div>
        <div class="">
            <p></p>
            <button></button>
        </div>
    </div>
</div>