<div>
    <div>
        <div>
            <input>
            <input>
            <input>
        </div>
        <div>
            <p></p>
            <button></button>
        </div>
    </div>
</div>