<div class="login-page">
    <div class="login-container">
        <div class="login-input">
            <form action="/login" target="_blank" method="post" id="loginForm">
                <input type="text" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <input type="submit" >

            </form>
            
        </div>
        <div class="">
            <p></p>
            <button></button>
        </div>
    </div>
</div>