<link rel="stylesheet" href="/styles/styles.css" />
<link rel="stylesheet" href="/styles/login.css" />
<div class="login-page">
    <div class="logo-container">
        <img class="logo" src="/images/daycareLogo.png" alt="daycare logo" />
    </div>
    <div class="login-container">
        <div class="login-input">
            <form action="/login" target="_blank" method="post" id="loginForm">
                <input type="text" id="username" class="username" name="username" placeholder="Email" required>
            <input type="password" id="password" name="password" class="password" placeholder="Password" required>
            <input type="submit" >

            </form>
            
        </div>
        <div class="">
            <p></p>
            
        </div>
    </div>
</div>