<div class="registrationPage" id="registrationPage" name="registrationPage">
    <div class="registrationContainer" id="registrationContainer" name="registrationContainer">
        <div class="registrationContent" id="registrationContent" name="registrationContent">
            <form action="/" target="_blank" method="get">
                <label for="fname">First name: </label>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name: </label>
                <input type="text" id="lname" name="lname"><br>
                <label for="email">Email: </label>
                <input type="text" id="email" name="email"><br>
                <label for="password">Password: </label>
                <input type="text" id="password" name="password"><br>
                
            </form>
            

        </div>
        <div class="registrationSubmission" id="registrationSubmission" name="registrationSubmission">
            <button type="submit">Submit</button>
            <p><i>This information will be stored!</i></p>

        </div>

    </div>

</div>