<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/styles.css" />
<div>
  <div class="container my-5">
    <div class="p-5 text-center rounded-3" >
      <img src="/images/director.jpg" alt="" style="width: 300px; height: 300px; border-radius: 50%; transform: rotate(-20deg);">
      <h1 class="text-body-emphasis">Debra Scott "Mema"</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Meet Debra Scott, the dedicated Director of Children’s Keeper Learning Center. With a heart for children and a passion for early childhood education, Ms. Scott brings years of experience, warmth, and leadership to our center. Her commitment to creating a safe, loving, and enriching environment ensures that every child receives the support and encouragement they need to thrive. Under her guidance, our team works together to nurture young minds, build strong foundations, and inspire a lifelong love of learning.

      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <button
          class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
          type="button" 
        >
          <a href="mailto:regdc@yahoo.com" >Contact By Email</a>
          
        </button>
        <button
          class="btn btn-outline-secondary btn-lg px-4 rounded-pill"
          type="button"
        >
          <a href="sms:+19125893385" style="color: black;">Contact via Text</a>
        </button>
      </div>
    </div>
  </div>
  <div class="staff-container">
    <div class="card1 teacher">
        
          <img src="/images/4kteacher.jpg" alt=""> 
       
        <div class="container">
            <h3>Debra Ann Heyward</h3>
            <p>Our Assistant Director/4K lead teacher brings a wealth of experience, creativity, and compassion to the classroom, helping each child build a strong foundation for kindergarten and beyond. With a focus on hands-on learning and individual growth, she creates a joyful and structured environment where every child feels valued and encouraged.
            </p>
        </div>
    </div>
  
    <div class="card1 teacher">
        
            <img src="/images/daycareTeacher1.png" alt="" >
       
        <div class="container">
            <h3>Destiny Goode</h3>
            <p>With a warm smile and a nurturing spirit, this teacher brings years of experience and compassion to the classroom. Her dedication to helping each child learn and grow creates a positive and supportive environment every day.</p>
        </div>
    </div>
    <div class="card1 teacher">
        
           <img src="/images/daycareTeacher2.png" alt="" >
        
        <div class="container">
            <h3>Darcy Hobbs</h3>
            <p>With decades of experience in early childhood education, this seasoned teacher brings wisdom, patience, and a deep love for children to every moment. Her calming presence and lifelong dedication make her a cherished mentor to both students and staff.
</p>
        </div>
    </div>
  </div>
    
  </div>

</div>

<%- include("partials/footer.ejs") %>
