<%- include("partials/newYearHeader.ejs") %>
<link rel="stylesheet" href="/styles/styles.css" />
<div>
  <div class="container my-5">
    <div class="p-5 text-center rounded-3" >
      <img src="/images/DebraScott.JPG" alt="" style="width: 300px; height: 300px;">
      <h1 class="text-body-emphasis">Debra Scott "Mema"</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Meet Debra Scott, the dedicated Director of Children’s Keeper Learning Center. With a heart for children and a passion for early childhood education, Ms. Scott brings years of experience, warmth, and leadership to our center. Her commitment to creating a safe, loving, and enriching environment ensures that every child receives the support and encouragement they need to thrive. Under her guidance, our team works together to nurture young minds, build strong foundations, and inspire a lifelong love of learning.

      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <button
          class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
          type="button" 
        >
          <a href="mailto:regdc@yahoo.com" >Contact By Email</a>
          
        </button>
        <button
          class="btn btn-outline-secondary btn-lg px-4 rounded-pill"
          type="button"
        >
          <a href="sms:+18038421882" style="color: black;">Contact via Text</a>
        </button>
      </div>
    </div>
    <div class="staff-container">
    <div class="card1 teacher">
        
          <img src="/images/debraHeyward2.jpg" alt=""> 
       
        <div class="container">
            <h4>Debra Heyward</h4>
            <p>Daycare Assistant Director | 4K Lead Teacher</p>
        </div>
    </div>
  
    <div class="card1 teacher">
        
            <img src="/images/KiannaSingleton.jpeg" alt="" >
       
        <div class="container">
            <h4>Kianna Singleton</h4>
            <p>3 Year Old Class Teacher</p>
        </div>
    </div>
    <div class="card1 teacher">
        
           <img src="/images/AriannaJames.jpg" alt="" >
        
        <div class="container">
            <h4>Ari'Anna James</h4>
            <p>Teacher</p>
        </div>
    </div>
  </div>
    
  </div>
  </div>
  

</div>

<%- include("partials/footer.ejs") %>
