<%- include("partials/header.ejs") %>
<div>
  <div class="container my-5">
    <div class="p-5 text-center rounded-3" >
      <img src="/images/director.jpg" alt="" style="width: 300px; height: 300px; border-radius: 50%; transform: rotate(-20deg);">
      <h1 class="text-body-emphasis">Debra Scott "Mema"</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Meet Debra Scott, the dedicated Director of Children’s Keeper Learning Center. With a heart for children and a passion for early childhood education, Ms. Scott brings years of experience, warmth, and leadership to our center. Her commitment to creating a safe, loving, and enriching environment ensures that every child receives the support and encouragement they need to thrive. Under her guidance, our team works together to nurture young minds, build strong foundations, and inspire a lifelong love of learning.

      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <button
          class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
          type="button" 
        >
          <a href="mailto:meady2009@gmail.com" >Contact By Email</a>
          
        </button>
        <button
          class="btn btn-outline-secondary btn-lg px-4 rounded-pill"
          type="button"
        >
          <a href="sms:+19125893385" style="color: black;">Contact via Text</a>
        </button>
      </div>
    </div>
  </div>
  <div class="staff-container">
    <div class="card1 teacher">
        
            <img src="/images/4kteacher.jpg" alt="">
       
        <div class="container">
            <h3>Debra Ann Heyward</h3>
            <p>Our 4K lead teacher brings a wealth of experience, creativity, and compassion to the classroom, helping each child build a strong foundation for kindergarten and beyond. With a focus on hands-on learning and individual growth, she creates a joyful and structured environment where every child feels valued and encouraged.
            </p>
        </div>
    </div>
  
    <div class="card1 teacher">
        
            <img src="/images/4kteacher.jpg" alt="">
       
        <div class="container">
            <h3>Debra Ann Heyward</h3>
            <p>Our 4K lead teacher brings a wealth of experience, creativity, and compassion to the classroom, helping each child build a strong foundation for kindergarten and beyond. With a focus on hands-on learning and individual growth, she creates a joyful and structured environment where every child feels valued and encouraged.</p>
        </div>
    </div>
    <div class="card1 teacher">
        
            <img src="/images/4kteacher.jpg" alt="">
        
        <div class="container">
            <h3>Debra Ann Heyward</h3>
            <p>Our 4K lead teacher brings a wealth of experience, creativity, and compassion to the classroom, helping each child build a strong foundation for kindergarten and beyond. With a focus on hands-on learning and individual growth, she creates a joyful and structured environment where every child feels valued and encouraged.</p>
        </div>
    </div>
  </div>
    
  </div>

</div>

<%- include("partials/footer.ejs") %>
