<%- include("partials/header.ejs") %>
<div>
  <div class="container my-5">
    <div class="p-5 text-center rounded-3" >
      <img src="/images/director.jpg" alt="" style="width: 300px; height: 300px; border-radius: 50%; transform: rotate(-20deg);">
      <h1 class="text-body-emphasis">Debra Scott "Mema"</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Meet Debra Scott, the dedicated Director of Children’s Keeper Learning Center. With a heart for children and a passion for early childhood education, Ms. Scott brings years of experience, warmth, and leadership to our center. Her commitment to creating a safe, loving, and enriching environment ensures that every child receives the support and encouragement they need to thrive. Under her guidance, our team works together to nurture young minds, build strong foundations, and inspire a lifelong love of learning.

      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <button
          class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
          type="button"
        >
          Contact By Email
          <svg class="bi ms-2" width="24" height="24" aria-hidden="true">
            <use xlink:href="#arrow-right-short"></use>
          </svg>
        </button>
        <button
          class="btn btn-outline-secondary btn-lg px-4 rounded-pill"
          type="button"
        >
          Contact via Chat
        </button>
      </div>
    </div>
  </div>

  <div class="album py-5">
    <div class="container">
      <div class="row d-flex align-items-center col-md-12">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/4kteacher.jpg" alt="" width="100%" height="225" class="card-img-top">
            <div class="card-body">
                <h4>Mrs. Debra Ann Heyward</h4>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Edit
                  </button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg
              aria-label="Placeholder: Thumbnail"
              class="bd-placeholder-img card-img-top"
              height="225"
              preserveAspectRatio="xMidYMid slice"
              role="img"
              width="100%"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Edit
                  </button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg
              aria-label="Placeholder: Thumbnail"
              class="bd-placeholder-img card-img-top"
              height="225"
              preserveAspectRatio="xMidYMid slice"
              role="img"
              width="100%"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Edit
                  </button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
